.main{
    float: left;
    width: 100%;
    margin-top: 100px;
}

.header-main{
    text-align: center;
    padding: 0 4%;
}

.header-main .heading-text{
    padding: 0 5% 0 5%;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.horizontal-line hr{
    width: 160px;
    height: 2px;
    background: black;
}

.feature-plans{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.feature-plans-left, .feature-plans-middle, .feature-plans-right{
    float: left;
    text-align: left;
    width: 33%;
    .circle{
        width: 17px;
        height: 17px;
        float: left;
        border-radius: 50%;
        z-index: 999;
        background: green;
        margin-right: 5px;
        margin-top: 2px;
    }
    .tick-mark{
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:11%;
        font-weight: 400;
    }
    .circle-text{
        float: left;
        margin-top: 4px;
        width: 100%;
    }
}

.feature-plans-inner{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.grid-main{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background: rgba(169, 169, 169, 0.15);
    padding: 0 4%;
}

.grid-plan{
    text-align: center;
    height: auto;
    width: 250px;
    background-color: white;
    padding: 15px;
    margin: 30px 15px;
    border: 1px solid #d2dbe4;
    box-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
    float: left;

}

.grid-plan button{
    width: 100%;
    height: 40px;
    background: blue;
    padding: 0;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: 0;
}

.grid-plan-description{
    margin-bottom: 10px;
}

.grid-plan-pic{
    float: left;
    width: 100%;
}
.profile-outer{
    height: 100px;
    width: 100px;
    background: rgba(169, 169, 169, 0.15);
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    img{
        width: 70px;
        height: 70px;
        margin-top: 15px;
    }
}


.grid-bottom-description{
    float: left;
    width: 100%;
    margin: 10px 0 30px 0;
}

.grid-bottom-description{
    float: left;
    width: 100%;
    text-align: center;
    .full-text{
        background: #ced9e0;
        padding: 5px 8px;
        font-weight: 500;
        border-radius: 12px;
        span{
            background: green;
            padding: 0 6px;
            border-radius: 12px;
            font-size: 12px;
            color: white;
        }
    }
}

.recommend-main{
    float: left;
    width: 100%;
    padding: 0 4%;

    .pricing-calculator{
        float: left;
        width: 30%;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        .calculator-top{
            padding: 4%;
            margin-top: 10px;
            width: 100%;
            .pricing-calculator-text{
                float: left;
                width: 100%;
                span{
                    background: #bdbdbd;
                    margin-bottom: 20px;
                    float: left;
                    font-weight: 600;
                    font-size: 18px;
                }

            }
            .manage-device-text{
                font-size: 12px;
                margin-bottom: 5px;
                width: 100%;
            }
            .calculate-input-tag{
                input{
                    width: 100%;
                    height: 30px;
                }
            }
            .calculate-button{
                margin-top: 10px;
                margin-bottom: 30px;
                button{
                    width: 150px;
                    height: 35px;
                    background: blue;
                    color: white;
                    border: none;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        .calculator-bottom{
            padding: 4%;
            float: left;
            width: 100%;
            font-size: 14px;
            background: rgba(169, 169, 169, 0.15);
            padding-bottom: 30px;
            .plan-selected{
                margin-top: 10px;
                margin-bottom: 30px;
            }
            .total-per-year {
                font-size: 12px;
            }
            .total-pay{
                font-size: 18px;
                font-weight: 600;
                margin: 10px 0;
            }
            hr{
                width: 100%;
                height: 1px;
                background: #eaeaea;
            }
        }
    }
    .recommend-add-ons{
        float: left;
        width: 70%;
        padding: 0 2%;
        .recommend-heading{

        }
        hr{
            width: 100%;
            height: 1px;
            background: #eaeaea;
        }
        .add-ons-list{
            .add-ons-single-list{
                float: left;
                width: 100%;
                margin-bottom: 20px;
                .add-ons-pic{
                    float: left;
                    height: 40px;
                    margin-right: 20px;
                    margin-left: 10px;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
                .heading-description{
                    float: left;
                    width: 60%;
                    .description{
                        margin-top: 10px;
                    }
                }
                .add-storage{
                    float: right;
                    width: 25%;
                    .dropdown{
                        float: right;
                        .plus-icon{
                            background: green;
                            color: white;
                            padding: 0 2px;
                        }
                        .btn-primary{
                            color: black;
                            background-color: white;
                            border-color: #d2cdcd;
                        }
                        .dropdown-menu{

                        }
                    }
                }
            }
        }
    }
}

.enterprise-features-add-ons{
    float: left;
    width: 100%;
    padding: 4%;
    background: rebeccapurple;
    .enterprise-features-add-ons-inner{
        background: white;
        float: left;
        width: 100%;
        padding: 2%;
        .enterprise{
            float: left;
            width: 23%;
            text-align: center;
            .profile-outer{
                img{
                    height: 70px;
                    width: 70px;
                }
            }
            button{
                width: 100%;
                height: 40px;
                background: blue;
                color: white;
                border: none;
                font-size: 14px;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        .all-features{
            float: left;
            width: 37%;
            padding: 0 25px;
            .circle{
                width: 17px;
                height: 17px;
                float: left;
                border-radius: 50%;
                z-index: 999;
                background: green;
                margin-right: 5px;
                margin-top: 2px;
            }
            .tick-mark{
                color: white;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 11%;
                font-weight: 400;
            }
            hr{
                margin: 5px 0px;;
            }
        }
        .add-ons-includes{
            float: left;
            width: 40%;
            padding: 0 15px;
            hr{
                margin: 5px 0px;;
            }
            .all-add-ons-list{
                float: left;
                width: 100%;
                .add-ons-single-list{
                    float: left;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .add-ons-pic{
                        float: left;
                        height: 40px;
                        margin-right: 10px;
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                    .heading-description{
                        float: left;
                        width: 44%;
                        .description{
                            margin-top: 5px;
                        }
                    }
                    .add-storage span{
                        float: right;
                        background: green;
                        color: white;
                        padding: 1px 7px;
                        border-radius: 9px;
                    }
                }
            }
        }
    }
}

.blue{
    background: blue !important;
}

.green{
    background: green !important;
}

.grid-plan-button .fa-check{
    color: white;
    margin-right: 5px;
}

.single-features{
    margin-bottom: 5px;
}

.common-question-main{
    float: left;
    width: 100%;
    padding: 0 4% 4% 4%;
    .heading-text{
        margin-top: 15px;
        margin-bottom: 8px;
        font-size: 16px;
    }
    h3{
        text-align: center;
    }
    hr{
        width: 160px;
        height: 3px;
        background: black;
    }
    .left-side{
        float: left;
        width: 48%;
        margin-right: 4%;
    }
    .right-side{
        float: left;
        width: 48%;
    }
    .heading{
        float: left;
        width: 100%;
        margin-top: 15px;
        i{
            color: white;
            background: rebeccapurple;
            border-radius: 50%;
            height: 16px;
            width: 17px;
            padding-left: 4px;
            padding-top: 2px;
            margin-right: 8px;
        }
    }
    .description{
        float: left;
        width: 100%;
        padding-left: 5%;
        margin-top: 3px;
    }
}

@media only screen and (min-width:320px) and(max-width: 960px) {
    .recommend-main{
        .pricing-calculator{
            float: left;
            width: 100%;
            .calculator-top{
                .pricing-calculator-text{
                    float: left;
                    width: 100%;
                }
                .calculate-button{
                    button{
                        width: 150px;
                    }
                }
            }
        }
        .recommend-add-ons{
            width: 100%;
        }
    }
    .enterprise-features-add-ons{
        .enterprise-features-add-ons-inner{
            .enterprise{
                width: 100%;
                margin-top: 20px;
                button{
                    width: 50%;
                }
            }
            .all-features{
                width: 100%;
                margin-top: 20px;
            }
            .add-ons-includes{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
    .feature-plans-left, .feature-plans-middle, .feature-plans-right{
        width: 100%;
    }
}

@media only screen and (min-width:320px) and(max-width: 610px) {
    .recommend-main{
        .recommend-add-ons{
            width: 100%;
            .add-ons-list{
                .add-ons-single-list{
                    .add-storage{
                        float: left;
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .common-question-main{
        .left-side{
            width: 100%;
            margin: 0;
        }
        .right-side{
            width: 100%;
        }

    }
}