<div class="main">
    <div class="header-main">
        <div class="header-top">
            <h1>Simple pricing with no setup fees</h1>
        </div>
        <div class="horizontal-line">
            <hr>
        </div>
        <div class="heading-text">
            Our Pricing plan contains 4 base plans based on the number of devices you want to manage through MobiLock Pro,
            you choose one base plan and then add any number of optional add-ons if required. <a href="#">Calculate your price</a>
            to get an idea of the annual cost.
        </div>
        <div class="base-plan-heading">
            <div class="base-class-heading">
                <h3><b>Base Plans</b></h3>
            </div>
            <div class="horizontal-line">
                <hr>
            </div>
            <div><h5><b>All features are included with Base plans</b></h5></div>
            <div class="feature-plans">
                <div class="feature-plans-inner">
                    <div class="feature-plans-left">
                        <div class="circle-text">
                            <div class="circle green-color">
                                <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                                </span>
                            </div>
                            <span>Kiosk Mode</span>
                        </div>
                        <div class="circle-text">
                            <div class="circle green-color">
                                <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                                </span>
                            </div>
                            <span>Unlimited User Accounts</span>
                        </div>
                    </div>
                    <div class="feature-plans-middle">
                        <div class="circle-text">
                            <div class="circle green-color">
                            <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                            </span>
                            </div>
                        <span>Custom Branding</span></div>
                        <div class="circle-text">
                            <div class="circle green-color">
                                <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                                </span>
                            </div>
                            <span>World Class Customer support</span>
                        </div>
                    </div>
                    <div class="feature-plans-right">
                        <div class="circle-text">
                            <div class="circle green-color">
                                <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                                </span>
                            </div>
                            <span>Location Tracking & History Retention</span>
                        </div>
                        <div class="circle-text">
                            <div class="circle green-color">
                                <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                                </span>
                            </div>
                            <span>Kiosk Browser</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-main">
        <div *ngIf="businessPlan">
            <div class="grid-plan" *ngFor="let singleGrid of businessPlan; let i=index;">
                <div class="grid-plan-heading">
                    <b>{{singleGrid.name}}</b>
                </div>
                <div class="grid-plan-pic">
                    <div class="profile-outer">
                        <img src="../../assets/icons/{{singleGrid.icon}}">
                    </div>
                </div>

                <div class="grid-plan-description">
                    <b>{{singleGrid.planName}}</b>
                </div>
                <div class="grid-plan-subscription">
                    {{singleGrid.planType}}
                </div>
                <div class="grid-plan-button">
                    <button (click)="selectPlan(singleGrid.value, i)" [ngClass]="{'green': selectedPlan == i}"> <i *ngIf="selectedPlan == i" aria-hidden="true" class="fa fa-check"></i>{{singleGrid.buttonName}}</button>
                </div>
            </div>
        </div>
        <div class="grid-bottom-description">
            <span class="full-text"><span>ENTERPRISE</span> Large number of devices? Wehave an <a>Enterprise Plan</a> that's tallor-made for you</span>
        </div>
    </div>
    <div class="recommend-main">
        <div class="pricing-calculator">
            <div class="calculator-top">
                <div class="pricing-calculator-text">
                    <span>Pricing Calculator</span>
                </div>
                <div class="manage-device-text">How many devices to manage?</div>
                <div class="calculate-input-tag">
                    <input type="text" [(ngModel)]="priceValue" name="priceValue"/>
                </div>
                <div class="calculate-button">
                    <button name="calculate-price" (click)="calculateAmount()">Calculate Price</button>
                </div>
            </div>
            <div class="calculator-bottom">
                <div>Plan Selected</div>
                <div class="plan-selected">
                    <img src="">
                    <span>STARTER</span>
                </div>
                <hr/>
                <div>You pay</div>
                <div class="total-pay">$ {{totalPlanAmount}}</div>
                <div class="total-per-year">total per year</div>
            </div>
        </div>
        <div class="recommend-add-ons">
            <h3 class="recommend-heading">Recommended add-ons for Base Plans</h3>
            <hr/>
            <div class="add-ons-list">
                <div class="add-ons-single-list">
                    <div class="add-ons-pic">
                        <img src="../../assets/icons/windows-firewall.png">
                    </div>
                    <div class="heading-description">
                        <div class="heading"><b>EnterPrise Store</b></div>
                        <div class="description">EnterPrise Store lets you remotely and seamlessly push both in-house and Play Store apps to your devices in real-time which are managed by MobilLock Pro</div>
                    </div>
                    <div class="add-storage">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="plus-icon">+</span>&nbsp;&nbsp;&nbsp;Add Storage&nbsp;&nbsp;&nbsp;
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a>Storage 1</a></li>
                                <li><a>Storage 2</a></li>
                                <li><a>Storage 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!--// need to remove when array is created-->
            <div class="add-ons-list">
                <div class="add-ons-single-list">
                    <div class="add-ons-pic">
                        <img src="../../assets/icons/content.png">
                    </div>
                    <div class="heading-description">
                        <div class="heading"><b>EnterPrise Store</b></div>
                        <div class="description">EnterPrise Store lets you remotely and seamlessly push both in-house and Play Store apps to your devices in real-time which are managed by MobilLock Pro</div>
                    </div>
                    <div class="add-storage">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="plus-icon">+</span>&nbsp;&nbsp;&nbsp;Add Storage&nbsp;&nbsp;&nbsp;
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a>Storage 1</a></li>
                                <li><a>Storage 2</a></li>
                                <li><a>Storage 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="add-ons-list">
                <div class="add-ons-single-list">
                    <div class="add-ons-pic">
                        <img src="../../assets/icons/remote-cast.png">
                    </div>
                    <div class="heading-description">
                        <div class="heading"><b>EnterPrise Store</b></div>
                        <div class="description">EnterPrise Store lets you remotely and seamlessly push both in-house and Play Store apps to your devices in real-time which are managed by MobilLock Pro</div>
                    </div>
                    <div class="add-storage">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="plus-icon">+</span>&nbsp;&nbsp;&nbsp;Add Storage&nbsp;&nbsp;&nbsp;
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a>Storage 1</a></li>
                                <li><a>Storage 2</a></li>
                                <li><a>Storage 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-ons-list">
                <div class="add-ons-single-list">
                    <div class="add-ons-pic">
                        <img src="../../assets/icons/messanger.png">
                    </div>
                    <div class="heading-description">
                        <div class="heading"><b>EnterPrise Store</b></div>
                        <div class="description">EnterPrise Store lets you remotely and seamlessly push both in-house and Play Store apps to your devices in real-time which are managed by MobilLock Pro</div>
                    </div>
                    <div class="add-storage">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="plus-icon">+</span>&nbsp;&nbsp;&nbsp;Add Storage&nbsp;&nbsp;&nbsp;
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a>Storage 1</a></li>
                                <li><a>Storage 2</a></li>
                                <li><a>Storage 3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="enterprise-features-add-ons">
        <div class="enterprise-features-add-ons-inner">
            <div class="enterprise">
                <div class="grid-plan-heading">
                    <b>ENTERPRISE</b>
                </div>
                <div class="grid-plan-pic">
                    <div class="profile-outer">
                        <img src="../../assets/icons/enterprise.png">
                    </div>
                </div>

                <div class="grid-plan-description">
                    <b>Tallored plan for Enterprises</b>
                </div>
                <div class="grid-plan-subscription">
                    Free for 14 days, No Credit card needed
                </div>
                <div class="grid-plan-button">
                    <button value="" class="">$36 PER DEVICE / PER YEAR</button>
                </div>
            </div>

            <div class="all-features" *ngIf="allFeatures">
                <div class="features-heading">
                    ALL FEATURES INCLUDED
                </div>
                <hr/>
                <div class="single-features" *ngFor="let singleFeature of allFeatures">
                    <div class="circle green-color">
                        <span class="tick-mark"> <i aria-hidden="true" class="fa fa-check"></i>
                        </span>
                    </div>
                    <span>{{singleFeature}}</span>
                </div>
            </div>

            <div class="add-ons-includes">
                <div class="add-ons-heading">
                    ADD-ONS INCLUDED
                </div>
                <hr/>
                <div class="all-add-ons-list" *ngIf="allOnIncludedData">
                    <div class="add-ons-single-list" *ngFor="let singleAddOns of allOnIncludedData">
                        <div class="add-ons-pic">
                            <img src="../../assets/icons/{{singleAddOns.icon}}">
                        </div>
                        <div class="heading-description">
                            <div class="heading"><b>{{singleAddOns.name}}</b></div>
                            <div class="description">{{singleAddOns.description}}</div>
                        </div>
                        <div class="add-storage">
                            <span>{{singleAddOns.storage}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-question-main">
        <h3><b>Common Questions</b></h3>
        <hr/>
        <div class="left-side">
            <div class="heading">
                <i class="fa fa-question" aria-hidden="true"></i>
                <span class="heading-text"><b>How does the free trial work?</b></span>
            </div>
            <div class="description">
                When you sign up for your trial of MobiLock Pro you'll have acess to all the features for 14 days. We don't restrict features in free trial.
            </div>
            <div class="heading">
                <i class="fa fa-question" aria-hidden="true"></i>
                <span class="heading-text"><b>What payment methods do you accept?</b></span>
            </div>
            <div class="description">
                When you sign up for your trial of MobiLock Pro you'll have acess to all the features for 14 days. We don't restrict features in free trial.
            </div>
        </div>
        <div class="right-side">
            <div class="heading">
                <i class="fa fa-question" aria-hidden="true"></i>
                <span class="heading-text"><b>How does the free trial work?</b></span>
            </div>
            <div class="description">
                When you sign up for your trial of MobiLock Pro you'll have acess to all the features for 14 days. We don't restrict features in free trial.
            </div>
            <div class="heading">
                <i class="fa fa-question" aria-hidden="true"></i>
                <span class="heading-text"><b>What payment methods do you accept?</b></span>
            </div>
            <div class="description">
                When you sign up for your trial of MobiLock Pro you'll have acess to all the features for 14 days. We don't restrict features in free trial.
            </div>
        </div>
    </div>
</div>
