<div class="main-footer">
    <div class="footer-link">
        <h4>FEATURES</h4>
        <p>Alternative to MDM</p>
        <p>Android Kiosk Mode</p>
        <p>Kiosk Browser</p>
        <p>Eva Messenger</p>
    </div>
    <div class="footer-link">
        <h4>LEARN MORE</h4>
        <p>Download app</p>
        <p>Pricing</p>
        <p>FAQs</p>
        <p>Sign In</p>
        <p>Sign Up</p>
        <p>Book a Demo</p>
    </div>
    <div class="footer-link">
        <h4>ABOUT</h4>
        <p>Blog</p>
        <p>Reseller</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
        <p>Apps</p>
        <p>ProMobi Technolies</p>
    </div>
    <div class="connect-with-us">
        <div class="">
            <h4>CONNECT WITH US</h4>
            <div class="social-media-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </div>
            <div>© 2017 ProMobi Technologies</div>
        </div>
    </div>
    <div class="copy-right">
        <p>Made with from Pune, India</p>
    </div>
</div>