.main-footer{
    float: left;
    width: 100%;
    padding: 3% 4% 3% 4%;
    background: rgba(169, 169, 169, 0.15);
    .footer-link{
        float: left;
        width: 220px;
    }
    .connect-with-us{
        float: right;
        text-align: left;
        .social-media-icon{
            margin-top: 15px;
            margin-bottom: 30px;
            i{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                color: white;
                background: gainsboro;
                margin-right: 10px;
                padding: 5%;
                font-size: 25px;
                text-align: center;
            }
        }
    }
    .copy-right{
        width: 100%;
        text-align: center;
        float: left;
        margin-top: 25px;
    }
}


@media only screen and (min-width:320px) and(max-width: 960px){
    .main-footer{
        .connect-with-us{
            width: 100%;
            float: left;
            .social-media-icon{
                i{
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    margin-right: 10px;
                    padding: 10px;
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
    }

}