ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1000px;
}

.row {
  margin: 0 auto;
}
.dropdown-menu>li>a{
  //color: white;
}
.btn {
  display: inline-block;
  font-size: 16px;
  padding: 5px 20px !important;
  color: white;
  font-weight: bold;
  border: none;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.btn.btn-default {
  background-color: white;
  color: blue;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  background-color: #e3e3e3;
  color: blue;
}
.navbar {
  background-color: blue;
  color: white;
  min-height: 80px;
  border-bottom: 1px solid white;
  -moz-transition: border 0.3s ease-out;
  -o-transition: border 0.3s ease-out;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}
.navbar.scroll-border {
  border-bottom: 1px solid #E0E0E0;
}
.navbar .navbar-brand {
  line-height: 80px;
  height: 80px;
  padding: 0px !important;
  display: inline-block;
}

.navbar-brand img{
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.navbar .navbar-toggle {
  border: none;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: white;
}
.navbar .navbar-nav > li {
  margin: 0 10px;
}
.navbar .navbar-nav > li > a {
  padding: 0 5px;
  font-size: 16px;
  color: white;
  line-height: 80px;
}
.navbar .navbar-nav > li > a:hover {
  border-bottom: none;
}
.navbar .navbar-nav > li > a.selected, .navbar .navbar-nav > li > a.selected:hover {
  border-bottom: 4px solid #1616c5;
}
.navbar .navbar-nav > li > a .fa-sort-desc {
  line-height: inherit;
}
.navbar .navbar-nav > li > a[aria-expanded="true"], .navbar .navbar-nav > li > a.selected, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: white;
  background-color: #1616c5 !important;
}
.navbar .navbar-nav .dropdown-toggle:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.navbar .navbar-nav .dropdown-menu {
  position: absolute;
  top: 60px;
  border-top: 2px solid #1616c5;
  min-width: 200px;
  width: 100%;
  left: 0;
  right: auto;
  cursor: pointer;
}
.navbar .navbar-nav .dropdown-menu li a:hover {
  background-color: black;
  color: white;
}
.navbar .navbar-nav .btn-group {
  margin: 23px 0 0 0;
}
.navbar .navbar-nav .btn-group .btn {
  border: 1px solid white;
}
.navbar .navbar-nav > li > a #avatar img {
  width: 40px;
  height: 40px;
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.navbar .navbar-nav > li > a .badge {
  position: relative;
  top: -10px;
  left: -5px;
  margin-right: -5px;
  background-color: white;
}

@media only screen and (max-width: 991px){
  .navbar.student-header {
    border-width: 1px !important;
    border-bottom: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    min-height: 50px;
    margin-bottom: 0;
  }
  .student-header.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar.student-header .container {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar.student-header .navbar-header {
    float: none;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .navbar.student-header .navbar-brand {
    margin-left: 0 !important;
    line-height: 50px;
    height: 50px;
    display: inline-block;
  }
  .navbar.student-header .navbar-left, .navbar.student-header .navbar-right {
    float: none !important;
  }
  .navbar.student-header .navbar-brand img {
    margin-top: 5px;
  }
  .navbar.student-header .navbar-toggle {
    display: block;
  }
  .navbar.student-header .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar.student-header .navbar-collapse {
    padding: 0;
    max-height: inherit;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar.student-header .navbar-nav {
    border-top: 1px solid #E0E0E0;
    float: none !important;
    margin: 7.5px 0 10px 0;
    margin-top: 0;
    padding: 0;
    float: none;
  }
  .navbar.student-header .navbar-nav > li {
    margin: 0;
    float: none;
  }
  .navbar.student-header .navbar-nav > li > a {
    border-bottom: 1px solid #E0E0E0;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    line-height: inherit;
    cursor: pointer;
  }
  .navbar.student-header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar .navbar-nav > li > a.selected:hover {
    border-bottom: 1px solid #E0E0E0;
  }
  .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a.selected {
    color: white;
    background-color: #1616c5 !important;
  }
}
@media only screen and (max-width: 991px){
  .navbar-header {
    float: none;
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar {
    border-width: 1px!important; border-bottom: 1px solid grey;
    .navbar-collapse {
      padding: 0;
      max-height: inherit;
      margin-right: 0!important;
      margin-left: 0!important;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      &.collapse {
        display: none!important;
        &.in {
          display:block !important;
        }
      }
    }
    .container {
      max-width: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    border-bottom: 1px solid grey;
    min-height: 50px;
    margin-bottom: 0;
    .navbar-brand {
      img {
        margin-top: 5px;
      }
      margin-left: 10px !important;
      padding-left: 15px;
      padding-top: 8px;
      line-height: 50px;
      height: 50px;
      display: inline-block
    }
    .navbar-nav {
      border-top: 1px solid grey;
      float: none!important;
      margin: 7.5px 0 10px 0;
      margin-top: 0;
      padding: 0;
      float: none;
      > li {
        margin: 0;
        float: none;
        &.open { a { border: none; } }
        > a {
          border-bottom: 1px solid grey;
          padding: 15px 20px;
          font-size: 16px;
          color: white;
          line-height: inherit;
          .badge {
            position: static;
            float: right;
            top: 0;
            margin-right: 0;
          }
          &.selected { border-bottom: 1px solid grey; border-left: 4px solid white; }
        }
      }
      .btn-group {
        padding: 0 20px;
        position: static;
        display: block;
        margin: 20px 0 0 0;
        .btn {
          width: 100px;
          font-size: 14px;
          margin: 10px 0;
          display: block;
          position: static;
          float: none;
        }

      }
      .dropdown-menu {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid grey;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 10px;
        position: static;
        top: 0;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        li {
          a {
            font-size: 16px;
            padding: 5px 20px;
            cursor: pointer;
          }
        }
      }
    }

  }

  .navbar .navbar-nav > li > a:hover {
    border-bottom: 1px solid #E0E0E0;
  }

}

@media (min-width: 768px) {
  .modal-dialog {
    width: 340px;
    margin: 30px auto;
  }
}

.modal .modal-header {
  border: none;
}
.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  color: #E0E0E0;
  opacity: 1.0;
}
.modal-header .close:hover {
  color: white;
}

.modal .modal-header .test {
  border: none;
}

.modal-header {
  border-bottom: none;
}

.company-name{
  font-size: 24px;
  color: white;
}

.country-icon{
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}