<header class="">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  target="_self" routerLink="home">
                    <img src="../../assets/icons/mobile-lock.png" alt="MobiLock"/>
                    <span class="company-name">MobiLock Pro</span>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Features 1</a></li>
                            <li><a>Features 2</a></li>
                            <li><a>Features 3</a></li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Industries <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Industries 1</a></li>
                            <li><a>Industries 2</a></li>
                            <li><a>Industries 3</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a routerLink="pricing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pricing</a>
                    </li>
                    <li class="">
                        <a routerLink="demo" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demo</a>
                    </li>
                    <li class="">
                        <a routerLink="blog" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                    </li>
                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                    </li>
                    <li>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-default buttons">Free Trial</a>
                        </div>
                    </li>
                    <li class="">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            EN <img class="country-icon" src="../../assets/icons/england.png" alt="England"/> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>EN<img class="country-icon" src="../../assets/icons/england.png" alt="England"/></a></li>
                            <li><a>IND<img class="country-icon" src="../../assets/icons/India-Flag-icon.png" alt="India"/></a></li>
                            <li><a>USE<img class="country-icon" src="../../assets/icons/usa.ico" alt="USA"/></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


